body{
    margin:5px !important;
    
}
#container{
    border: 2px solid black;
    height: 40px;
    border-radius: 14px;
    background-color: khaki;
    position:sticky;
}
#new-tab{
    position: relative;
    top: 2px;
    padding: 4px 4px;
    
}
#add{
    border-radius: 50%;
    position: relative;
    left: 1px;
    top: 1.5px;
    font-size:19px ;
    border: 3px double rgb(14, 243, 243);
    text-align: center;
}
#add:hover{
    background-color: greenyellow;
}
button{
    font-size: 16px;
    font-style: italic;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
button:hover{
    cursor: pointer;   
}
.frame-class{
    height: 682px;
    width: 1500px;
    position: relative;
    right: 0px;
    left: 3px;
    overflow: scroll;
    border: 1px solid rgb(194, 127, 194);
    border-radius: 10px;
    
}
.tab-div{
    float: left;
    width: auto;
    border-radius: 5px;
    margin-bottom:10px ;
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 0px;
    position: relative;
    right: 4px;
    top: 1px;
    
    
}
.tab-div:hover{
    background-color: #e5d9d9;
}
.tab{
    width: auto;
    height:30px;
    border: 0px double black;
    border-radius:20px ;
    position: relative;
    right: 5px;
}
.close_sym{
    color: red;
    float: right;
    position: relative;
    top: 3px;
    border: 2px double  rgb(14, 237, 226) ;
    border-radius: 20px;
}
.close_sym:hover{
    background-color: blueviolet;
}
#url{
    margin-top: 0px;
    
    
}


